name: Deploy Hugo Blog
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    
    - name: Deploy to VPS
      uses: appleboy/ssh-action@v0.1.5
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        script: |
          cd /home/al/hugo-blog/blog-site
          git reset --hard HEAD
          git clean -fd
          git pull origin main
          # Fix permissions before building
          docker run --rm -v $(pwd):/src alpine:latest sh -c "chown -R 1000:1000 /src/public && rm -rf /src/public/*"
          docker run --rm -v $(pwd):/src hugomods/hugo:latest --minify
          cd /home/al/hugo-blog
          docker compose restart
