name: Deploy Hugo Blog
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    
    - name: Deploy to VPS
      uses: appleboy/ssh-action@v0.1.5
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        script: |
          cd /home/al/hugo-blog/blog-site
          git pull origin main
          # Generate new HTML files from markdown
          
          git reset --hard HEAD  # Discard local changes
          git clean -fd          # Remove untracked files
          git pull origin main
          rm -rf public/*        # Clean build
          
          docker run --rm -v $(pwd):/src hugomods/hugo:latest --minify
          # Restart containers (usually not needed, but ensures fresh serving)
          cd /home/al/hugo-blog
          docker compose down
          docker compose up -d
